@media screen and (orientation: landscape) and (min-width: $tablet-max-width) {

  .img-background {
    overflow-x: hidden;
  }

  .fonctionnement .fonctionnement-container {
    flex-direction: row;
  }

  .position {
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
  }


  footer.footer-menu {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    left: -5vw;
  }

}